h1 {
    color: rgb(75, 73, 74);
    border-style: initial;
    box-shadow: 0 0px 0.1px 5px rgb(100, 99, 97);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(181, 240, 235);
}

h2 {
    position: relative;
    left: 30px;
    text-decoration: underline;
    color: rgb(61, 60, 60);
    font-family: 'Raleway', sans-serif;;
}

input {
    position: relative;
    left: 1000px;
    border-radius: 20px;
    top: 45px;
}

img {
    width: 200px;
    border-radius: 20px;
}

li {
font: 1em sans-serif;

}

add-text {
   position: relative;
   bottom: 185px;
   font-family: 'Roboto Mono', monospace;
}

.dolma {
    position: relative;
    right: 700px;
    bottom: 170px;
}

.tacos {
    position: relative;
    right: 545px;
    bottom: 170px;

}


.pasta {
    position: relative;
    right: 420px;
    bottom: 85px;
}

.p {
    position: relative;
    bottom: 100px;
}

button {
    position: relative;
    left: 950px;
    bottom: 45px;
    background-color: black;
    color:rgb(161, 161, 161);
}

/* Screen Size (SM, 600) - MINDRE SKÄRMAR */
@media screen and (min-width: 600px) {
	
}